.git
.github
.idea
.vscode
docs
migrations
Server
App/.expo
App/.heroui-docs
App/android
App/ios
App/node_modules
Web/.artifacts
Web/.next
Web/e2e
Web/node_modules
Web/build-output.txt
Web/playwright-report
Web/test-results
**/.env
**/.env.local
**/.env.development.local
**/.env.production.local
**/.env.test.local
**/tsconfig.tsbuildinfo
